# Practice Question



Q1 Swap the number without using third varible

Q2 : Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the
digits.

Q3 Write a program that will give you the sum of 3 digits

Q4 Write a program that will take three digits from the user and add the square of each
digit.


Q5 Write a program that will check whether the number is armstrong number or not.

Q6 :Write a program that will take user input of (4 digits number) and check whether the
number is narcissist number or not.

Q7 Display float number with 2 decimal places using print()

Q8 Print all factors of a given number provided by the user.

Q9 Accept a list of 5 float numbers as an input from the user

Q10 : Write a program to find the volume of the cylinder. Also find the cost when ,when the
cost of 1litre milk is 40Rs.

In [7]:


Q1 Swap the number without using third varible

Q2 : Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the
digits.

Q3 Write a program that will give you the sum of 3 digits

Q4 Write a program that will take three digits from the user and add the square of each
digit.


Q5 Write a program that will check whether the number is armstrong number or not.
Q6 :Write a program that will take user input of (4 digits number) and check whether the
number is narcissist number or not.

Q7 Display float number with 2 decimal places using print()

Q8 Print all factors of a given number provided by the user.

Q9 Accept a list of 5 float numbers as an input from the user

Q10 : Write a program to find the volume of the cylinder. Also find the cost when ,when the
cost of 1litre milk is 40Rs.

SyntaxError: invalid character '“' (U+201C) (3979088561.py, line 4)

##  Ans:1

In [12]:
x=10
y=20
print(f" value of x : {x} \n value of y : {y}")
x,y=y,x
print(f" value of x : {x} \n value of y : {y}")

 value of x : 10
 value of y : 20
 value of x : 20
 value of y : 10

In [16]:
# or
x=10
y=20
print("x is :",x)
print("y is :",y)
x=x+y
y=x-y
x=x-y
print("x is :",x)
print("y is :",y)

x is : 10
y is : 20
x is : 20
y is : 10

## Ans:2

In [27]:
num=12345

sum=0
rem=0
reverse_digit=[]

while(num>0):
    rem=num%10
    reverse_digit.append(rem)
    sum=sum*10+rem
    num=num//10


reverse_with_space=" ".join(map(str,reverse_digit))  
   
print(sum)

print(reverse_with_space)

54321
5 4 3 2 1

In [21]:
# Reverse the digits of a number with spaces
num = int(input("Enter an integer: "))  # Accept input from the user
original_num = num  # Store the original number for reference

reversed_digits = []  # List to store the digits in reverse order

while num > 0:
    rem = num % 10  # Extract the last digit
    reversed_digits.append(rem)  # Append the digit to the list
    num = num // 10  # Remove the last digit from the number

# Join the reversed digits with spaces and display
reversed_with_spaces = "*".join(map(str, reversed_digits))
print(f"The digits of {original_num} in reverse order with spaces are: {reversed_with_spaces}")

Enter an integer:  12345

The digits of 12345 in reverse order with spaces are: 5*4*3*2*1

# Ans 3

In [5]:
n=635
sum=0
if(99<n<1000):
    x=n//100
    y=n%10
    z=(n//10)%10
    print(x+y+z)

14

# Ans 4

In [12]:
x=int(input("first number:"))
y=int(input("second number:"))
z=int(input("third number:"))
ans=x**2+y**2+z**2
print(f"the square add of {x},{y},{z} is:{ans}")

first number: 2
second number: 3
third number: 4

the square add of 2,3,4 is:29

# Ans 5

In [30]:
n=153
rem=0
sum=0
temp=n
while(n>0):
    rem=n%10
    sum=sum+rem**3
    n=n//10

if(temp==sum):
    print("armstrong")

else:
    print("not arm")

armstrong

# Ans 8

In [4]:
# factor
num=int(input("enter the number:"))
print(f"factor of {num} is:")
for i in range(2,num+1):
    if(num%i==0):
        print(i)

enter the number: 45

factor of 45 is:
3
5
9
15
45

# Ans 6

In [3]:
num=int(input("enter the number:"))
rem=0
sum=0
temp=num

def len_digit(num):
    count=0
    while(num>0):
        num=num//10
        count=count+1

    return count
        

x=len_digit(num)
while(num>0):
    rem=num%10
    sum=sum+rem**x
    num=num//10

if(sum==temp):
    print("Narcissist")

else:
    print("not")

enter the number: 1634

Narcissist

In [12]:
num=int(input("enter the number:"))
rem=0
sum=0
temp=num

def len_digit(num):
    count=0
    while(num>0):
        num=num//10
        count=count+1

    return count
        

x=len_digit(num)
if(x==4):
    while(num>0):
        rem=num%10
        sum=sum+rem**x
        num=num//10
    
    if(sum==temp):
        print("Narcissist")

    else:
        print("not narr")

else:
    print("please enter 4 digit number")

enter the number: 1634

Narcissist

# Ans 7

In [13]:
number = 123.456789
print(f"{number:.2f}")

123.46

In [14]:
number = 123.456789
print("{:.2f}".format(number))

123.46

In [15]:
number = 123.456789
print(round(number, 2))

123.46

# Ans 9

In [20]:
# Accept a list of 5 float numbers from the user
numbers = []
print("Enter 5 float numbers:")

for i in range(5):
    while True:
        try:
            num = float(input(f"Enter number {i + 1}: "))
            numbers.append(num)
            break
        except ValueError:
            print("Invalid input! Please enter a valid float number.")

print("The list of float numbers is:", numbers)

Enter 5 float numbers:

Enter number 1:  f

Invalid input! Please enter a valid float number.

Enter number 1:  f

Invalid input! Please enter a valid float number.

Enter number 1:  65
Enter number 2:  65
Enter number 3:  65
Enter number 4:  2
Enter number 5:  2

The list of float numbers is: [65.0, 65.0, 65.0, 2.0, 2.0]

# Ans 10

In [31]:
r=int(input("enter radius:"))
h=int(input("height:"))
kg=int(input("mlk wight:"))
volume=float(3.14*r*r*h)
print(volume)
# volume cm to litter then divide 1000
littr=float(volume//1000)
cost=littr*kg
print(littr)
print("cost of milk:",cost)

enter radius: 7
height: 20
mlk wight: 40

3077.2000000000003
3.0
cost of milk: 120.0